@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');



.swiper {
  width: 120%;
  height: 100%;
}



  .swiper-slide {
    background: #FFFEF2;
    height: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.344);
    transition: all 0.4s ease;
  }



  .swiper-slide:hover{
    transform: translateY(-15px);
  }

.swiper-button-prev,
.swiper-button-next {
  display: none;
}




.swiper-pagination-bullet{
  position: relative;
  background-color: #38470B;
  bottom: 80px;
}


.swiper-pagination {
  position: relative;

}


.contentFour{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}


.bgFour{
  background-color: #f8ead4;
  height: 100%;
  border-radius: 10px;
}




.contentFour .details{
  display: flex;
  flex-direction: column;
  width: 150px;
}


.contentFour .img-c{
  height: 260px;
  width: 200px;
  margin-bottom: 14px;
}

.contentFour .img-c img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:5px;
}

.contentFour .details .name{
  font-size: 14px;
  font-weight: bolder;
  color: #41341F;
  text-align: left;
  margin-top: -1rem;
}

.contentFour .details .autor{
  margin-top: 0.3rem;
  text-align: left;
}



.sectionFour{
  background: #f8ead4;
}

.sectionFour h1{
  font-size: 25px;
  text-align: center;
  margin-top: -3rem;
  margin-bottom: 2rem;
  font-family: 'Domine';
  color: #41341F;
}

.img_decoration_one{
    width: 100%;
    max-width: 50px;
    margin-top: 2rem;
}


  .mySwiper{  
    padding: 0.3rem;
    width: 300px;
    height: 300px;
  }

  .swiper-slide{
    height: 180px;
  }

  .price {
    margin-top: 1rem;
    color: #41341F;
    font-size: 16px;
    font-weight: 500;
    text-align:left;
    margin-bottom: 20px;
}

.btn-buy {
    padding: 0.7rem;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background: #38470B;

}



  .contentFour .img-c{
    height: 150px;
    width: 100px;
    margin-right: 1rem;
  }
  
  .contentFour .img-c img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
  }


  .swiper-pagination-bullet{
  position: relative;
  background-color: #38470B;
  bottom: 80px;
}


.sectionFour{
  height: 365px;
}

.botton{
  display: none;
}



@media screen and (min-width:768px) {

  .botton a{
    color: #B4C6A6;
    font-weight: bolder;
    transition: all 0.4s ease;
    width: 140px;
    background: #38470B;
    height: 40px;
    border-radius: 5px;
    padding: 0.6rem 0;
    font-size: 20px;
  }
  
  
  .botton{
    color: #fff;
    border-radius: 5px;
    padding: 0.8rem 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    width: 250px;
  
  }
  
  .botton i{
    background: #38470B;
    color: #B4C6A6;
    height: 40px;
    width: 40px;
    padding: 0.7rem 0;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
  }
  
  
  .botton a::before{
    content: 'COMPRAR';
    position: relative;
    left: 15%;
    right: 0%;
    transition: .2s ease;
    margin-right: 15px;
  }
  
  
  
  .botton a::after{
    content: '$120.000';
    position: relative;
    transition: .2s ease;
    opacity: 0;
    right: 79%;
    background: #B4C6A6;
    padding: 0.6rem 1.7rem;
    border-radius: 5px;
    margin-left: -0.5px;
  }
  
  
  .botton a:hover::before{
    opacity: 0;
  }
  
  .botton a:hover::after{
    opacity: 1;
    color: #38470B;
  }

  .mySwiper{
    width: 70%;
    height: 550px;
  }
  
  .swiper-slide{
    height:  350px;
  }

.contentFour{
  flex-direction: column;

}


.contentFour .details{
  justify-content: center;
  align-items: center;
    width: 300px;
  }

.contentFour .img-c{
  height: 260px;
  width: 200px;
margin: 0 auto;
  margin-bottom: 30px;
}

.contentFour .img-c img{
  margin-bottom: 25px;
}

.price{
  display: none;
}

.btn-buy{
  display: none;
}

.sectionFour{
  height: 650px;
}

.sectionFour h1{
  font-size: 38px;
}

.contentFour .details .name{
  font-size: 15px;
}


}



@media screen and (min-width:1024px) {
  .swiper-slide{
    height:  350px;
  }

  .mySwiper{
    width: 880px;
  }


  .img_decoration_one{
    max-width: 75px;
  }
}