.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }
  
  .modal-container {
    position: relative;
    padding: 1rem;
    max-width: 650px;
    width: 100%;
    overflow-y: auto;
    background: #FFFEF2;
    display: flex;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
  }
  
  .modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: #38470B;
    color: #B4C6A6;
    padding: 0.3rem;
    border-style: none;
    border-radius: 2px;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  
  .modal.is-open {
    display: flex;
  }
  
  .modal-img{
    width: 100%;
    max-width: 220px;
    border-radius: 5px;
  }

  .modal .modal-container .modal-details{
    margin-left: 2rem;
  }

  .modal-container .modal-details h3{
    color: #41341F;
    font-size: 35px;
    margin-top: 0.5rem;
  }


  .modal-container .modal-details h4{
    color: #41341F;
    font-size: 25px;
    margin-bottom: 1.5rem;
    font-weight: normal;
  }


  .modal-container .modal-details h5{
    color: #41341F;
    font-size: 20px;
    margin-top: 3rem;
}


.modal-container .modal-details p{
    color: #41341F;
    font-size: 16px;
    margin-top: 0.5rem;
}


.modal-container .modal-details .modal-btns{
  margin-top: 2rem;
}


.modal-btns label{
  display: inline-flex;
  background: #38470B;
  height: 40px;
  width: 120px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 18px;
  cursor: pointer;
  color: #B4C6A6;
  border-radius: 5px;
}

.modal-btns label:first-child{
  cursor: auto;
  margin-right: 10px;
}

.modal-btns label:last-child:hover{
  background: #B4C6A6;
  color: #38470B;

}